@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ======== scroll behaviour ======== */
html{
    scroll-behavior: smooth;
}
/* ======== colour variables ======== - 🚨 NEED TO CHANGE 🚨 */
:root {
    --colour-black:#121111;
    --colour-blue:#539FB0;
    --colour-beige:#F9F5EE;
    --colour-grey: #423F3F;
    --colour-light-bluegrey: #A4BEC2;
}
/* ========= text variables ========= */
:root {
    --h1: 110px;
    --h1-line-height: 90px;
    --h2: 64px;
    --h2-line-height: 64px;
    --h3: 32px;
    --h3-line-height: 38px;
    --h4: 20px;
    --h4-line-height: 20px;
    --h5: 20px;
    --h5-line-height: 20px;
    --h6: 14px;
    --h6-line-height: 14px;
    --blockquote: 16px;
    --blockquote-line-height: 20px;
    --p: 12px;
    --p-line-height: 16px;
    --a: 14px;
    --a-line-height: 14px;
}
/* ========== text styling ========== */
h1 {
    font-family: "Bebas Neue";
    font-size: var(--h1);
    line-height: var(--h1-line-height);
    font-weight: 500;
}
.weight-light{
    font-weight: 200;
}
h2 {
    font-family: "Bebas Neue";
    font-size: var(--h2);
    line-height: var(--h2-line-height);
}
h3 {
    font-family: "Bebas Neue";
    font-size: var(--h3);
    line-height: var(--h3-line-height);
}
h4 {
    font-family: "Bebas Neue";
    font-size: var(--h4);
    line-height: var(--h4-line-height);
}
h5 {
    font-family: "Inter";
    font-size: var(--h5);
    line-height: var(--h5-line-height);
    font-weight: 500;
    margin-bottom: 16px;
}
h6 {
    font-family: "Inter";
    font-size: var(--h6);
    line-height: var(--h6-line-height);
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 6px;
}
.week-text{
    font-family: "Inter";
    font-size: var(--h6);
    line-height: var(--h6-line-height);
}
blockquote{
    font-family: "Inter";
    font-size: var(--blockquote);
    line-height: var(--blockquote-line-height);
}
p{
    font-family: "Inter";
    font-size: var(--p);
    line-height: var(--p-line-height);
}
a {
    font-family: "Inter";
    font-size: var(--a);
    line-height: var(--a-line-height);
    border: solid 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.no-a-style{
    border: 0px;
    padding: 0px;
}
/* ========= layout styling ========= */
main {
    margin: 20px; 
}
header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: aqua;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ========= header styling ========= */
.title{
    display: flex;
    flex-direction: column;
    margin-top: 104px;
    margin-bottom: 56px;
}
/* == button, arrow + tab styling === */
button {
    display: flex;
    width: 167px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: white;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 48px;
}
.down-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-bar{
    display: flex;
    flex-direction: row;
}
.tabs{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 104px;
}
.tabs a {
    padding: 8px 16px;
    border: 1px solid black; 
    border-radius: 6px;
}
.tabs a:last-child {
    margin-right: 0; 
}
/* ===== year in review styling ===== */
#year-container {
    margin-top: 0px;
}
.year-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.year-header p {
    max-width: 90vw;
}
/* ==== list and content styling ==== */
.scroll-container{
    position: relative;
}
.scroll-container::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 1px; 
    height: 100%; 
    background-color: black; 
    margin-top: 7px;
}
ul {
    width: 100%;
}
li {
    width: 100%;
    margin-top: 100px;
}
.content-blocks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.week{
    grid-column: 1 / span 1; 
}
.week-layout{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
.item-details {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.detail-tab {
    border: 1px solid black;
}
.image-content{
    grid-column: 2 / span 3; 
}
hr {
    border-top: 1px solid black; 
    width: 8px; 
}
img {
    cursor: pointer;
}
/* ====== about button popover ======= */
.about-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    padding: 20px;
}
.about-box-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.about-box-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.about-box-title{
    margin-top: 120px;
}
.about-box-text{
    margin-top: 32px;
}
#closeBtn{
    cursor: pointer;
}
/* ====== code button popover ======= */
.code-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}
.code-box-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.code-box-title{
    margin-top: 24px;
}
.code-box-text{
    max-width: 272px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.code-box-content a {
    border: none;
    padding: none;
}
#codecloseBtn{
    cursor: pointer;
}
/* ==== image lightbox styling ====== */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}
#lightbox-image {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    position: relative; 
}
#lightbox-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: white;
    cursor: pointer;
}
/* ========= footer styling ========== */
footer{
    margin: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================== tablet media query ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
    /* ========= text variables ========= */
    :root {
        --h1: 120px;
        --h1-line-height:106px;
        --h2: 64px;
        --h2-line-height: 64px;
        --h3: 40px;
        --h3-line-height: 40px;
        --h4: 24px;
        --h4-line-height: 24px;
        --h5: 24px;
        --h5-line-height: 24px;
        --h6: 16px;
        --h6-line-height: 16px;
        --blockquote: 18px;
        --blockquote-line-height: 22px;
        --p: 14px;
        --p-line-height: 20px;
        --a: 16px;
        --a-line-height: 16px;
    }
    /* ========== text styling ========== */
    h5 {
        margin-bottom: 24px;
    }
    .week-text{
        font-size: var(--p);
        line-height: var(--p-line-height);
    }
    a {
        border: solid 1px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .no-a-style{
        border: 0px;
        padding: 0px;
    }
    /* ========= layout styling ========= */
    main {
        margin-left: 32px; 
        margin-right: 32px; 
        margin-top: 20px; 
    }
    header{
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        padding-bottom: 140px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* ========= header styling ========= */
    .title{
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        margin-top: 120px;
        margin-bottom: 64px;
    }
    .blockquote-position{
        width: 430px;
    }
    .header-info{
        display: flex;
        flex-direction: column;
        align-items: end;
    }    
    /* == button, arrow + tab styling === */
    button {
        display: flex;
        width: 206px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #000;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-end;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .down-arrow{
        display: none;
    }
    .tabs{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 120px;
    }
    /* ===== year in review styling ===== */
      #year-container {
        margin-top: 0px;
    }
    .year-header {
        flex-direction: row;
        gap: 40px;
    }
    .year-header p {
        max-width: 65%;
    }
    /* ==== list and content styling ==== */
    .scroll-container {
        width: 100%; 
        overflow-x: auto;
        position: relative;
        overflow-x: auto; 
    }
    .scroll-container::before {
        content: "";
        position: absolute; 
        top: -7px; 
        left: 0; 
        width: 100%; 
        height: 1px; 
        background-color: black; 
    }
    .week-layout{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
    ul {
        display: flex;
        width: 100vw; 
        overflow-x: auto; 
        padding-left: 25%;
    }
    li {
        display: inline-block; 
        margin-top: 0; 
        margin-right: 100px;
    }
    .content-blocks{
        gap: 40px;
        display: flex;
        flex-direction: column;
    }
    .item-details {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-top: 20px;
        margin-bottom: 32px;
    }
    .image-content{
        grid-column: none;
        width: 35vw;
    }
    hr {
        border-left: 1px solid black; 
        height: 40px; 
        border-top: 0px; 
    }
    
    /* ====== about button popover ======= */
    .about-box {
        padding: 32px;
    }
    .about-box-text{
        margin-top: 40px;
        width: 80%;
    }
    /* ====== code button popover ======= */
    .code-box-title{
        margin-top: 32px;
    }
    .code-box-text{
        max-width: 350px;
    }
    /* ==== image lightbox styling ====== */
    #lightbox-close-button {
        top: 32px;
        right: 32px;
    }
    /* ========= footer styling ========== */
    footer{
        margin: 32px;
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

/* ================================ desktop media query ================================= */
@media (min-width: 1024px) {
    /* ========= text variables ========= */
    :root {
        --h1: 200px;
        --h1-line-height:170px;
        --h2: 80px;
        --h2-line-height: 80px;
        --h3: 40px;
        --h3-line-height: 40px;
        --h4: 24px;
        --h4-line-height: 24px;
        --h5: 24px;
        --h5-line-height: 24px;
        --h6: 16px;
        --h6-line-height: 16px;
        --blockquote: 18px;
        --blockquote-line-height: 22px;
        --p: 16px;
        --p-line-height: 20px;
        --a: 16px;
        --a-line-height: 16px;
    }
    /* ========== text styling ========== */
    h5 {
        margin-bottom: 24px;
    }
    .week-text{
        font-size: var(--p);
        line-height: var(--p-line-height);
    }
    a {
        border: solid 1px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .no-a-style{
        border: 0px;
        padding: 0px;
    }
    /* ========= layout styling ========= */
    main {
        margin-left: 40px; 
        margin-right: 40px; 
        margin-top: 20px; 
    }
    header{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 200px;
    }
    /* ========= header styling ========= */
    .title{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        margin-top: 200px;
        margin-bottom: 64px;
    }
    .blockquote-position{
        width: 500px;
        margin-right: 100px;
    }
    .header-info{
        display: flex;
        flex-direction: column;
        align-items: end;
    }  
    /* == button, arrow + tab styling === */
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-end;
        margin-top: 48px;
        margin-bottom: 48px;
        margin-right: 80px;
    }
    button {
        width: 250px;
        padding: 8px;
    }
    .down-arrow{
        display: none;
    }
    .tabs{
        gap: 20px;
        margin-bottom: 160px;
        margin-top: 40px;
    }
    /* ===== year in review styling ===== */
    #year-container {
        margin-top: 0px;
    }
    .year-header {
        flex-direction: row;
        gap: 40px;
    }
    .year-header p {
        max-width: 35vw;
    }
    /* ==== list and content styling ==== */
    .scroll-container {
        width: 100%; 
        overflow-x: auto;
    }
    .scroll-container::before {
        content: "";
        position: absolute; 
        top: -7px; 
        left: 0; 
        width: 100%; 
        height: 1px; 
        background-color: black; 
    }
    ul {
        display: flex;
        width: 100vw; 
        overflow-x: auto; 
        padding-left: 25%;
        margin-right: 0;
    }
    li {
        display: inline-block; 
        margin-top: 0; 
        width: 55px;
        margin-right: 120px; 
    }
    .content-blocks{
        gap: 40px;
        width: 55px;
        display: flex;
        flex-direction: column;
    }
    .item-details {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-top: 20px;
        margin-bottom: 32px;
    }
    .image-content{
        grid-column: none;
    }
    .week-layout{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
    hr {
        border-left: 1px solid black; 
        height: 60px; 
        border-top: 0px; 
    }
    /* ====== about button popover ======= */
    .about-box {
        padding: 32px;
    }
    .about-box-text{
        margin-top: 40px;
        width: 50%;
    }
    /* ====== code button popover ======= */
    .code-box-title{
        margin-top: 32px;
    }
    .code-box-text{
        max-width: 350px;
    }
    /* ==== image lightbox styling ====== */
    #lightbox-close-button {
        top: 40px;
        right: 40px;
    }
    /* ========= footer styling ========== */
    footer{
        margin: 40px;
        margin-top: 120px;
    }
}